/*
    MAIN
 */
body {
    min-height: 100vh;
    background:  linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)), url(../img/background/miroslava-ct_zXHu8rcM-unsplash.jpg);
}
img {
    max-width: 100%;
}
.btn.template {
    text-decoration: none;
    position: relative;
    background: transparent;
    padding: 14px 0;
    top: 0;
    left: 0;
    transform: translate(-5px, 5px);
    transition: all .2s ease-in-out;
    margin: auto;
}
.btn.template:hover {
    top: 5px!important;
    left: -4px!important;
    transform: translate(-5px, 5px)!important;
    transition: all .2s ease-in-out;
}
.btn.template:hover::after {
    top: -2px;
    left: 0;
    transition: all .2s ease-in-out;
}
.btn.template i {
    border: 3px solid #B56E44;
    position: relative;
    padding: 14px 20px;
    background: #F1EAE2;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: .1em;
    z-index: 1;
    color: #B56E44;
 }
.btn.template::after {
    position: absolute;
    content: "";
    background: transparent;
    height: 100%;
    border: 2px solid #B56E44;
    /*top: 4px;*/
    top: 7px;
    left: -5px;
    transition: all .2s ease-in-out;
    width: calc(100% - 4px);
}
.container {
    overflow: hidden;
}

/*
    HEADER
 */
header {
    padding-top: 2em;
    padding-bottom: 2em;
}
header, #section-1, #portfolio {
    background-color: #F1EAE2;
}

/*
    TITRE
 */
h1 {
    color: #B56E44;
    font-size: 3rem;
    overflow: hidden;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
h1:before,
h1:after {
    background-color: #B56E44;
    content: "";
    display: inline-block;
    height: 7px;
    border-radius: 10px;
    position: relative;
    vertical-align: middle;
    width: 8%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}
h1 span {
    /*font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/*
    SECTION 1 PHOTO
 */
#section-1 .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
#section-1 .left, #section-1 .right {
    width: 50%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
#section-1 figure {
    margin: auto;
    width: 70%;
    position: relative;
}
#section-1 figure img {
    width: 100%;
    z-index: 1;
    position: relative;
}
#section-1 .left figure:after {
    content: "";
    height: 95%;
    width: 95%;
    background-color: #B56E44;
    position: absolute;
    top: -15px;
    left: -15px;
}
#section-1 .left figure figcaption {
    position: absolute;
    transform: rotate(-90deg);
    color: #B56E44;
    left: -140px;
    top: 79px;
    font-family: 'Quicksand', sans-serif;
}
#section-1 .right figure:after {
    content: "";
    height: 95%;
    width: 95%;
    background-color: #B56E44;
    position: absolute;
    top: calc(5% + 13px);
    left: calc(5% + 15px);
}
#section-1 .right figure figcaption {
    position: absolute;
    transform: rotate(-90deg);
    color: #B56E44;
    right: -140px;
    bottom: 86px;
    font-family: 'Quicksand', sans-serif;
}

/*
    FOR THE PEOPLE
 */
#forThePeople .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
#forThePeople .w-33 {
    width: 33%;
}
#forThePeople .w-67 {
    width: 67%;
    display: flex;
    flex-direction: column;
}
#forThePeople .w-67 p {
    margin-right: auto;
    padding: 0 60px;
}
#forThePeople .w-33, #forThePeople .w-67 {
    display: flex;
}
#forThePeople h2 {
    width: 230px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-family: 'Slabo 27px', serif;
    text-decoration: underline;
    font-size: 3.5rem;
    color: #B56E44;
    text-align-last: right;
}
#forThePeople a {
    color: #B56E44;
    width: 67%;
    padding-right: 60px;
    text-align: right;
}
@media(max-width: 720px) {
    #forThePeople .container {
        flex-direction: column;
    }
    #forThePeople .w-33, #forThePeople .w-67 {
        width: 100%;
    }
    #forThePeople h2 {
        margin: auto;
        margin-bottom: 30px;
    }
    #forThePeople a {
        width: 100%;
    }
}

/*
    PORTFOLIO
 */
#portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}
#portfolio .container {
    display: flex;
    position: relative;
    overflow: visible;
}
#portfolio .left, #portfolio .right {
    width: 50%;
}
#portfolio figure {
    position: relative;
    display: flex;
}
#portfolio figure.horizontal {
    width: 90%;
}
#portfolio figure.vertical {
    width: 90%;
}
#portfolio figure img {
    width: 100%;
}
#portfolio figure.withText.horizontal {
    width: 90%;
    margin-top: 130px;
}
#portfolio figure.withText img {
    width: 75%;
    position: relative;
    margin-left: auto;
}
#portfolio figure.withText figcaption {
    color: #B56E44;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2rem;
    left: 30px;
    font-weight: 600;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 50px;
}
#portfolio .left figure {
    margin-left: auto;
}
#portfolio figure.border img {
    width: 75%;
    border: 12px #B56E44 solid;
    margin-top: 30px;
}
#portfolio figure.borderEscape img {
    width: 100%;
    padding: 9px;
    border: 3px #B56E44 solid;
    margin-top: 30px;
}
#portfolio figure.fourPic {
    margin-left: 100px;
    margin-top: 50px;
}
#portfolio figure.fivePic {
    margin-left: -60px;
    margin-top: 50px;
}
#portfolio h2 {
    top: 252px;
    transform: rotate(90deg);
    position: absolute;
    right: -228px;
    letter-spacing: 10px;
    font-size: 6rem;
    color: #B56E44;
    z-index: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Slabo 27px', serif;
}
#portfolio .btn {
    margin-top: 30px;
}
@media(max-width: 1128px) {
    #portfolio h2 {
        right: initial;
        top: 0;
        transform: none;
    }
}
@media(max-width: 991px) {
    #portfolio figure.fourPic {
        margin-left: 0;
    }
    #portfolio figure.withText figcaption {
        width: 130px;
    }
}
@media(max-width: 720px) {
    #portfolio figure.withText figcaption {
        font-size: 3vw;
        width: 70px;
    }
}


/*
    BOOK
 */
.book-wrapper {
    position: relative;
    margin: 2% auto;
    width: 670px;
}
.book-wrapper h2 {
    font-family: 'Stalemate', cursive;
    font-size: 30px;
    font-weight: bold;
}
.book-wrapper p {
    font-family: 'Stalemate', cursive;
    font-size: 25px;
    font-weight: bold;
}
.book-wrapper img {
    filter: drop-shadow(15px 5px 5px #494338);
}
.pages-container {
    position: absolute;
    top: 4%;
    left: 3%;
    right: 0;
    bottom: 0;
    width: 91.5%;
    height: 91%;
}
.pages [class^="page-num-"] {
    background-image: url("../img/background/paper-1332008_640.jpg");
    background-size: auto 100%;
    position: relative;
}
.pages-content {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10%;
}
.content-inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.book-wrapper {
    user-select: none;
}
.page-num-1 .pages-background {
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/background/miroslava-ct_zXHu8rcM-unsplash.jpg);
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.book-wrapper img.tars {
    opacity: 0.3;
    bottom: 15px;
    right: 15px;
    position: absolute;
    filter: none;
}
#tars {
    display: none;
}
@media(max-width: 720px) {
    #book .container {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #book .book-cover {
        width: 94vw;
        display: flex;
    }
    .book-cover img {
        width: 350px;
        height: 251px;
        margin: auto;
    }
    #book .pages {
        margin: auto;
    }
    #book .pages-container {
        width: 88vw;
    }
    #book .content-inner h2 {
        font-size: 4vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    #book .content-inner p {
        font-size: 2.5vw;
    }
}
@media(max-width: 455px) {
    h1 {
        font-size: 4vw;
    }
    h1:before, h1:after {
        height: 2px;
    }
    #section-1 .right figure figcaption {
        right: -92px;
        font-size: 3vw;
        bottom: 50px;
    }
    #section-1 .left figure figcaption {
        left: -95px;
        top: 50px;
        font-size: 3vw;
    }
    #section-1 figure {
        width: 80%;
        margin: 0;
    }
    #section-1 .right figure {
        padding-left: 7px;
    }
    #section-1 .left figure {
        margin-left: auto;
        padding-right: 7px;
    }
    #portfolio h2 {
        font-size: 8vw;
        margin-top: 45px;
    }
    #portfolio figure.border img {
        border: 7px #B56E44 solid;
    }
    #portfolio figure.withText figcaption {
        width: 11vw;
        margin-top: -25px;
        margin-left: -10px;
    }
    #portfolio figure.fivePic {
        margin-left: -27px;
        margin-top: 47px;
    }
    #portfolio figure.borderEscape {
        margin-left: 19px;
    }
    #forThePeople .w-67 p {
        padding: 0 30px;
    }
    .book-cover img {
        width: 275px;
        height: 197px;
        margin: auto;
    }
}